
		
		* {
			padding: 1px 1px 1px 25px;
			}
			
		body {
			background-color:#efefef;
			}
					
		h1, h2, h3 {
			color: #999;
			font-family: helvetica;
			}
			 
		body p{
			color: #000;
			}
			
		body ol li span {
			color: #c35b5b;
			font-family: helvetica;
			}
			 
		a:link {
			color: #65ff65;
			}
			
		a:visited {
			color: #c35b5b;
			}
			
		a:hover {
			color: #999;
			}
			
		a:active {
			color: #99C;
			}
			
		#footer {
			color: #666;
			font-size: 10pt;
			}
			
		.olstyle {
			font-family: helvetica;
			color: #000;
			}
			